.about-section{
background:white;
padding:80px 0;
}
/* HEADING */
.about-section h2{
font-size:3rem;
font-weight:700;
background: linear-gradient(135deg, #6366f1, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.about-subtitle{
color:rgb(93, 91, 91);
max-width:600px;
margin:auto;
}
/* TAB BUTTONS */
.tab-buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-bottom:40px;
}
.tab-btn{
border:none;
padding:12px 28px;
border-radius:40px;
background:#e2e8f0;
font-weight:600;
cursor:pointer;
transition:0.3s;
}
.tab-btn:hover{
transform:translateY(-2px);
}
/* ACTIVE BUTTON */
.active-tab{
background: linear-gradient(135deg, #6366f1, #3b82f6, #8b5cf6);
color:white;
box-shadow:0 6px 20px rgba(99,102,241,0.4);
transform:scale(1.05);
}
/* CONTENT CARD */
.content-card{
background:white;
padding:50px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.09);
transition:0.3s;
}
/* ANIMATION */
.fade-in{
animation:fadeIn 0.5s ease;
}
.fade-out{
animation:fadeOut 0.2s ease;
}
@keyframes fadeIn{
from{
opacity:0;
transform:translateY(15px);
}
to{
opacity:1;
transform:translateY(0);
}
}
@keyframes fadeOut{
from{
opacity:1;
}
to{
opacity:0;
}
}

/* SECTION TEXT */
.section-title{
font-size:2rem;
font-weight:700;
margin-bottom:20px;
}

.section-text{
color:black;
line-height:1.7;
}
/* PROFILE IMAGE */

.profile-img{
width:100%;
max-width:260px;
border-radius:15px;
}

/* TIMELINE */
.timeline{
position:relative;
padding-left:30px;
}
.timeline::before{
content:"";
position:absolute;
left:8px;
top:0;
width:3px;
height:100%;
background:#6366f1;
}
.timeline-year{
 font-size: 17px;
 font-weight: 600;
}

.timeline-item{
margin-bottom:30px;
position:relative;
}

.timeline-item::before{
content:"";
position:absolute;
left:-23px;
top:6px;
width:12px;
height:12px;
background:#6366f1;
border-radius:50%;
}

.timeline-card{
background:linear-gradient(135deg,#eef2ff,#f8fafc);
padding:25px;
border-radius:12px;
box-shadow:0 6px 18px #30303161;
width: 80%;
margin-left: 90px;
}

/* EDUCATION CARD */

.info-card{
background:linear-gradient(135deg,#eef2ff,#f8fafc);
padding:30px;
border-radius:15px;
box-shadow:0 6px 18px rgba(0,0,0,0.09);
transition:0.3s;
}

.info-card:hover{
transform:translateY(-6px);
box-shadow:0 12px 25px rgba(0,0,0,0.4);
}